/* ---------- 導覽列開始 ---------- */

html, body {
	padding: 0;
	margin: 0;
}

body{
	/* 顏色 */
	background-color: #f9f9f9;
	/* background-color: black; */
}

.h-50{
	/* 大小 */
	height: 50px;
	/* 顏色 */
	background-color: #dddddd;
}

.bg-yellow{
	background-color: #fbbc05;
}

.burger{
	/* 大小 */
	width: calc(var(--burgerBgWidth) * 1px);
	height: calc(var(--navHeight) * 1px);
	/* 顏色 */
	background-color: #dddddd;
}

.burgerLineOne, .burgerLineTwo, .burgerLineThree{
	/* 大小 */
	width: calc(var(--lineWidth) * 1px);
	height: calc(var(--lineHeight) * 1px);	
	/* 顏色 */
	background-color: black;
	/* 外觀 */
	border-radius: 10px;
}

.burgerLineOne{	
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: calc(var(--lineTop) * 1px);
}

.burgerLineTwo{
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: 25px;
}

.burgerLineThree{
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: 30px;
}



.logo{
	/* 顏色 */
	/* background-color: red; */
	color: black;
	/* 文字 */
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	/* 位置 */
	position: absolute;
	top: 2px;
	left: calc(50% - (var(--burgerBgWidth)* 1px));
}

.text-blue{
	color: #4285f4;
}

.text-red{
	color: #ea4335;
}

.text-yellow{
	color: #fbbc05;
}

.text-green{
	color: #34a853;
}

.namePicture{
	/* 位置 */
	position: absolute;
	right: 0px;
	top: 0px;
	/* 大小 */
	width: calc(var(--navHeight) * 1px);
	height: calc(var(--navHeight) * 1px);
	/* 顏色 */
	background	-color: #b9b9c8;
	/* 文字 */
	font-family: MS Sans Serif;
}

.circle{
	/* 位置 */
	position: absolute;
	right: 13px;
	top: 13px;
	/* 顏色 */
	background-color: #ad48bf;
	color: #f7eff8;
	/* 大小 */
	width: 24px;
	height: 24px;
	/* 文字 */
	text-align: center;
	border-radius: 999em;
}

.LTextPosition{
	position: relative;
	top: 0px;
	right: 0px;
}




/* ---------- 搜尋開始 ---------- */



.search{
	/* 位置 */
	position: absolute;
	left: 5%;
	top: calc(var(--navHeight) * 1px + 10px);
	/* 外觀 */
	border: 1.5px solid #0040ff;
	/* 大小 */
	width: 90%;
	height: 40px;
	/* 文字 */
	font-size: 18px;
	/* 顏色 */
	background-color: #eeeeee;
	color: #000000;
}

.search:focus{
	border: 1.5px solid red;
	outline:none;
}

.navBelow{
	visibility: hidden;
	/* visibility: visible; */
}

.bgMask{
	/* 位置 */
	position: absolute;
	top: calc(var(--navHeight) * 1px);
	left: calc(100% - var(--bgMaskRightWidth));
	/* 大小 */
	height: calc(100% - (var(--navHeight)*1px));
	width: calc(var(--bgMaskRightWidth));
	/* 顏色 */
	background-color: black;
	opacity: 0.7;
}

.fixed-left{
	/* 位置 */
	position: absolute;
	top: calc(var(--navHeight) * 1px);
	/* 大小 */
	width: calc(100% - (var(--bgMaskRightWidth)));
	height: calc(100% - (var(--navHeight)*1px));
	/* 顏色 */
	background-color: white;
	opacity: 1;
}








/* 左側清單開始 */

.menuCircle{
	/* 位置 */
	position: absolute;
	top: calc(var(--circleTop));
	left: 9%;
	/* 顏色 */
	background-color: black;
	/* 大小 */
	width: 8px;
	height: 8px;
	/* 外觀 */
	border-radius: 999px;
}

.MenuFontSameAttributes{
	/* 顏色 */
	color: black;
	/* 文字 */
	font-size: 14px;
	/* 位置 */
	position: relative;
	top: 30%;
	left: 20%;
}

.LeftRectangleSameAttributes{
	/* 大小 */
	width: 100%;
	height: 50px;
	/* 顏色 */
	background-color: #bfbfff;
	/* 外觀 */
	border-bottom: 1px solid black;
}

.LeftRectangleSameAttributes:hover{
	/* 顏色 */
	background-color: #b399ff;
}


.leftOneRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*0) * 1px);
}

.leftTwoRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*1) * 1px);
}

.leftThreeRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*2) * 1px);
}

.leftFourRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*3) * 1px);
}

.leftFiveRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*4) * 1px);
}

.leftSixRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*5) * 1px);
}

.leftSevenRectangle{
	/* 位置 */
	position: absolute;
	top: calc((var(--menuItemsHeight)*6) * 1px);
}

.stopOrPlay{
	position: absolute;
	bottom: 2%;
	left: 10px;
}

.changeSoundNumber{
	position: absolute;
	bottom: 2.5%;
	left: 100px;
}



/* 圖片輪播開始 */




#myCarousel{
	visibility: hidden;
}


.picturePosition{
	/* 位置 */
	position: relative;
	top: 60px;
	left: 0%;
	/* 顏色 */
	background-color: #cccccc;
	/* 大小 */
	width: calc(var(--pictureWidth) * 1);
	height: calc(var(--pictureHeight) * 1px);
}

.carousel-inner img {
	/* 大小 */
	width: 100%;
	height: calc(var(--pictureHeight) * 1px);
}

.carousel-control-prev , .carousel-control-next{
	/* 大小 */
	width: 60%;
}
 
.container{
	/* 位置 */
	text-align:center
} 




/* 詢問是否要播放音樂畫面開始 */
.queryPlayBg{
	/* 位置 */
	position: absolute;
	top: 0px;
	left: 0px;
	/* 顏色 */
	background-color: black;
	/* 大小 */
	height: 100%;
	width: 100%;
}

.queryPlayText{
	/* 位置 */
	position: absolute;
	text-align: center;
	top: 10%;
	/* 顏色 */
	color: white;
	/* 大小 */
	width: 100%;
	/* 文字 */
	font-size: 36px;
}

.startMusicYes{
	/* 位置 */
	position: absolute;
	top:30%;
}

.startMusicNo{
	/* 位置 */
	position: absolute;
	top:60%;
}

.queryStyle{
	/* 大小 */
	width: 70%;
	Height: 20%;
	/* 位置 */
	left: 15%;
	/* 文字 */
	font-size: 32px;
}



/* 網頁最下面開始 */

.pageBotton{
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: black;
	color: white;
	width: 100%;
	height: 34px;
	text-align: center;
	font-size: 20px;
}




/* 註冊畫面 */

.registeredPage{
	/* 位置 */
	position: absolute;
	top: 5px;
	left: 0px;
	/* 大小 */
	width: 100%;
	height: 120%;
	/* 顏色 */
	background-color: black;
	color: white;
	/* 外觀 */
	visibility: visible;
}

.returnPreviousPage{
	/* 位置 */
	position: relative;
	top: 20px;
	left: 30px;
	/* 大小 */
	width: 40px;
	height: 40px;
	/* 外觀 */
	border: 2px solid white;
	outline: none;
	/* 文字 */
	font-size: 36px;
}

.returnPreviousPage:hover{
	/* 外觀 */
	border: 2px solid red;
}

.returnPreviousPageArrow{
	/* 位置 */
	position: relative;
	top: -13px;
	left: 0px;
}

.returnPreviousPageArrow:hover{
	/* 顏色 */
	color: red;
}


.welcomeRegistered{
	/* 位置 */
	position: absolute;
	top: 15px;
	left: 35%;
	/* 文字 */
	font-size: 32px;
}

.inputStyle{
	/* 大小 */
	width: 68%;
	height: 20px;
	/* 顏色 */
	background-color: black;
	color: white;
	/* 文字 */
	padding: 20px;
	font-size: 22px;
	/* 外觀 */
	outline: none;
	border-radius: 30px;	
	border: 2px solid white;
	/* 位置 */
	left: 25%;
} 

.inputStyle:hover{
	/* 外觀 */
	transition: 1.5s;
	border-radius: 10px;
	border: 2px solid red;
}


.textStyle{
	/* 文字 */
	font-size: 20px;
	/* 顏色 */
	color: white;
	/* 位置 */
	left: 8%;
}


:root{
	/* 導航列 */
	--burgerBgWidth: 50;
	--navHeight: 50;
	--lineHeight: 2;
	--lineLeft: 12;
	--lineWidth: 26;
	--lineTop: 20;
	/* 遮罩背景 */
	--bgMaskRightWidth: 25%;
	--menuItemsHeight: 50;
	/* 圖片輪播 */
	--pictureHeight: 300;
	--pictureWidth: 100%;
	/* 圓圈位置 */
	--circleTop: 45%;
	--circleGap: 80%;
	/* 登入畫面 */
	--textInitY: 92;
	--inputInitY: 88;
	--inputGap: 68;
	--textGap: 68;
	/* calc(var(--lineLeft) * 1px); */
}


.nameText{
	/* 位置 */
	position: absolute;
	top: calc( (var(--textInitY) + (var(--textGap)*0)) * 1px);
}

.nameInput{
	/* 位置 */
	position: absolute;
	top: calc( (var(--inputInitY) + (var(--inputGap)*0)) * 1px);
}


.accountText{
	/* 位置 */
	position: absolute;
	top: calc( (var(--textInitY) + (var(--textGap)*1)) * 1px);
}

.accountInput{
	/* 位置 */
	position: absolute;
	top: calc( (var(--inputInitY) + (var(--inputGap)*1)) * 1px);
}


.passwordText{
	/* 位置 */
	position: absolute;
	top: calc( (var(--textInitY) + (var(--textGap)*2)) * 1px);
}

.passwordInput{
	/* 位置 */
	position: absolute;
	top: calc( (var(--inputInitY) + (var(--inputGap)*2)) * 1px);
}


.mailText{
	/* 位置 */
	position: absolute;
	top: calc( (var(--textInitY) + (var(--textGap)*3)) * 1px);
}

.mailInput{
	/* 位置 */
	position: absolute;
	top: calc( (var(--inputInitY) + (var(--inputGap)*3)) * 1px);
}


.phoneText{
	/* 位置 */
	position: absolute;
	top: calc( (var(--textInitY) + (var(--textGap)*4)) * 1px);
}

.phoneInput{
	/* 位置 */
	position: absolute;
	top: calc( (var(--inputInitY) + (var(--inputGap)*4)) * 1px);
}


.confirmRegistered{
	/* 顏色 */
	color: white;
	background-color: black;
	/* 外觀 */
	border: 2px solid white;
	/* 位置 */
	position: absolute;
	top: 440px;
	left: 35%;
	/* 大小 */
	width: 30%;
	height: 40px;
	/* 文字 */
	font-size: 20px;
	font-weight: bold;
}


