html, body {
	padding: 0;
	margin: 0;
}

body{
	background-color: #99ccff;
}

.topBlock{
	/* 位置 */
	position: absolute;
	top: 0px;
	left: 0px;
	/* 大小 */
	height: 60px;
	width: 100%;
	/* 顏色 */
	background-color: #3b5998;
}

.welcomeRegistered{
	/* 位置 */
	position: absolute;
	top: 10px;
	/* left: 62%; */
	/* 文字 */
	font-size: 30px;
	text-align: center;
	/* 顏色 */
	color: white;
	/* background-color:red; */
}

.alignCenter{
	display: flex;
	justify-content: center;
}

.centerBlock{
	/* 位置 */
	position: absolute;
	top: 13%;
	left: 12%;
	/* 大小 */
	width: 76%;
	/* 顏色 */
	/* background-color: #36d900; */
	/* 內容 */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.returnPreviousPage{
	/* 位置 */
	position: relative;
	top: 15px;
	left: 15px;
	/* 大小 */
	width: 30px;
	height: 30px;
	/* 外觀 */	
	border: 2px solid white;
	outline: none;
	/* 顏色 */
	color: white;
}

.returnPreviousPage:hover{
	/* 外觀 */
	border: 2px solid red;
}

.returnPreviousPageArrow{
	/* 位置 */
	position: relative;
	top: -5px;
	display: flex;
	justify-content: center;
	/* align-items: end; */
	/* 文字 */
	font-size: 26px;
	
}

.returnPreviousPageArrow:hover{
	/* 顏色 */
	color: red;
}



.inputStyle{
	/* 大小 */
	width: 80%;
	height: 20px;
	/* 顏色 */
	background-color: white;
	color: black;
	/* 文字 */
	text-align: center;
	padding: 8px;
	font-size: 16px;
	/* 外觀 */
	outline: 0px;
	border-radius: 30px;	
	border: 2px solid #3b5998;
	/* 位置 */
	position: relative;
	top: 30px;
	margin-bottom: 30px;
	
}

.button{
	/* 大小 */
	width: 60%;
	/* 顏色 */
	background-color: #3b5998;
	color: white;
	border: 2px #3b5998 solid;
	/* color: #b9d2fb; */
	/* 文字 */
	text-align: center;
	padding: 12px;
	/* font-size: 22px; */
	/* font-weight: bold; */
	font-family:monospace;
	/* 位置 */
	position: relative;
	top: 40px;
}

.button:hover{
	/* 顏色 */
	background-color: white;
	border: 2px #3b5998 solid;
	color: black;
}

.inputStyle:hover{
	/* 外觀 */
	transition: 1.5s;
	border-radius: 10px;
	border: 2px solid red;
}

:root{
	/* 登入畫面 */
	/* --textInitY */
	/* calc(var(--lineLeft) * 1px); */
}
