html, body {
	padding: 0;
	margin: 0;
}

body{
	/* 顏色 */
	background-color: #f9f9f9;
}

.h-50{
	/* 大小 */
	height: 50px;
}

:root{
	--burgerBgWidth: 50;
	--navHeight: 50;
	--lineHeight: 2;
	--lineLeft: 12;
	--lineWidth: 26;
	--lineTop: 20;
}

.burger{
	/* 大小 */
	width: calc(var(--burgerBgWidth) * 1px);
	height: calc(var(--navHeight) * 1px);
	/* 顏色 */
	background-color: white;
}

.burgerLineOne{	
	/* 大小 */
	width: calc(var(--lineWidth) * 1px);
	height: calc(var(--lineHeight) * 1px);
	/* 顏色 */
	background-color: #606060;
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: calc(var(--lineTop) * 1px);
	/* 外觀 */
	border-radius: 10px;
}

.burgerLineTwo{
	/* 大小 */
	width: calc(var(--lineWidth) * 1px);
	height: calc(var(--lineHeight) * 1px);
	/* 顏色 */
	background-color: #606060;
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: 25px;
	/* 外觀 */
	border-radius: 10px;
}

.burgerLineThree{
	/* 大小 */
	width: calc(var(--lineWidth) * 1px);
	height: calc(var(--lineHeight) * 1px);
	/* 顏色 */
	background-color: #606060;
	/* 位置 */
	position: absolute;
	left: calc(var(--lineLeft) * 1px);
	top: 30px;
	/* 外觀 */
	border-radius: 10px;
}

.namePicture{
	/* 位置 */
	position: absolute;
	right: 0px;
	top: 0px;
	/* 大小 */
	width: calc(var(--navHeight) * 1px);
	height: calc(var(--navHeight) * 1px);
	/* 顏色 */
	background-color: #b9b9c8;
	/* 文字 */
	font-family: MS Sans Serif;
}

.circle{
	/* 位置 */
	position: absolute;
	right: 13px;
	top: 13px;
	/* 顏色 */
	background-color: #ad48bf;
	color: #f7eff8;
	/* 大小 */
	width: 24px;
	height: 24px;
	/* 文字 */
	text-align: center;
	border-radius: 999em;
}

.textPosition{
	position: relative;
	top: 2px;
	right: -1px;
}

.search{
	/* 位置 */
	position: absolute;
	right: 40px;
	top: 8px;
	/* 外觀 */
	border: 1px solid #cccccc;
	/* 大小 */
	width: 250px;
	height: 20px;
}



.fixed-left{
	/* 位置 */
	position: absolute;
	top:36px;
	/* 大小 */
	width: 36px;
	height: 600px;
	/* 顏色 */
	background-color: white;
}

.leftOne{
	/* 大小 */
	width: 36px;
	height: 42px;
	/* 顏色 */
	background-color: #dbdbea;
}

.home{
	/* 顏色 */
	color: red;
	/* 位置 */
	position: relative;
	top: 6px;
	text-align: center;
	/* 文字 */
	font-size: 14px;
}

.leftTwo{
	/* 大小 */
	width: 36px;
	height: 42px;
	/* 顏色 */
	background-color: #dbdbea;
}

.hotProduct{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: black;
}

.logo{
	/* 顏色 */
	background-color: red;
	color: black;
	/* 文字 */
	text-align: center;
	font-size: 12px;
	/* 位置 */
	position: relative;
	left: 10px;
	/* 大小 */
	width: 30px;
	height: 21px;
}

.bg-ye{
	background-color: yellow;
}



